.property-list {
    margin-top: 80px; /* Add top margin to separate from StickyHeader */
  }
  
  .property-list-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .property-list button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .property-list button:hover {
    background-color: #0056b3;
  }
  